<section id="features" class="section section--home section--main tab_section tab_section--feature">
  <div class="col-24 tittle"></div>
  <section class="container">
      <div class="row section__wrapper">
          <div class="col-24"></div>
      </div>
        <div class="row section__wrapper justify-content-md-center">
          <div class="col-24 col-md-22 col-lg-12 justify-content-md-center d-flex order-2 primary">
            <div class="col-24 col d-flex-column margin">
              <article class="col featured featured--main">
                <div class="featured__head">
                  <a href="#">
                    <div class="picture picture--top">
                      <img alt="Maude Apatow em Euphoria (HBO Max/Reprodução)" title="Maude Apatow em Euphoria (HBO Max/Reprodução)" src="/images/articles/lexi-destaque.jpg">
                    </div>
                    <div class="mark">
                      <div class="mark__label">
                        <div class="tag tag--series-tv">
                          <p>Euphoria</p>
                          <div class="tag__label"></div>
                          <div class="tag__time"></div>
                        </div>
                      </div>
                      <div class="mark__title">
                        <h2>Lexi escancara segredos no penúltimo episódio</h2>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="featured__subtitle subtitle">
                  <h3>Leia o recap desta semana</h3>
                </div>
                <div class="featured__links links">
                  <ul class="links__list links__list--column links__list--dotted">
                    <li class="links__list__item">
                      <a href="#">Teaser promete tensão no finale; veja</a>
                    </li>
                    <li class="links__list__item">
                      <a href="#">Atriz comenta o apoio ao shipp "Fexi"</a>
                    </li>
                    <li class="links__list__item">
                      <a href="#">Omelista: séries para quem ama Euphoria</a>
                    </li>
                  </ul>
                </div>
              </article>
              <article class="col featured featured--horizontal">
                <div class="featured__head">
                  <a href="#">
                    <div class="picture">
                      <img alt="New Line Cinema/Divulgação" title="New Line Cinema/Divulgação" src="/images/articles/blade-destaque.jpg">
                    </div>
                    <div class="mark">
                      <div class="mark__label">
                        <div class="tag tag--filmes">
                          <p>Análise</p>
                          <div class="tag__label"></div>
                          <div class="tag__time"></div>
                        </div>
                      </div>
                      <div class="mark__title">
                        <h2>Blade: o melhor e o pior dos filmes de herói</h2>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="featured__links links">
                  <ul class="links__list links__list--column links__list--dotted">
                    <li class="links__list__item">
                      <a href="#">Animais Fantásticos: novo trailer vem aí</a>
                    </li>
                    <li class="links__list__item">
                      <a href="#">Vilão Gorr é destaque em LEGO de Thor 4"</a>
                    </li>
                    <li class="links__list__item">
                      <a href="#">Fotos inéditas do terror The Northman</a>
                    </li>
                  </ul>
                </div>
              </article>
            </div>
          </div>
          <div class="col-24 col-lg-6 order-1 secondary">
            <article class="col featured featured--main">
              <div class="featured__head">
                <a href="#">
                  <div class="picture picture--top">
                    <img src="/images/articles/qf7k3229aqlaxndy4weika.jpg" alt>
                  </div>
                  <div class="mark">
                    <div class="mark__label">
                      <div class="tag tag--series-tv">
                        <p>Séries</p>
                        <div class="tag__label"></div>
                      </div>
                    </div>
                    <div class="mark__title">
                      <h2>The Walking Dead empolga em retorno</h2>
                    </div>
                  </div>
                </a>
              </div>
              <div class="featured__links links">
                <ul class="links__list links__list--column links__list--dotted">
                  <li class="links__list__item">
                    <a href="#">
                      Rick pode voltar? Foto aquece rumores
                    </a>
                  </li>
                  <li class="links__list__item">
                    <a href="#">
                      Batman ficou fora de Pacificador
                    </a>
                  </li>
                </ul>
              </div>
            </article>
            <article class="col featured featured--list">
              <div class="featured__head">
                <a href="#">
                  <div class="mark">
                    <div class="mark__label">
                      <div class="tag tag--filmes">
                        <p>Filmes</p>
                        <div class="tag__label"></div>
                        <div class="tag__time"></div>
                      </div>
                    </div>
                    <div class="mark__title">
                      <h2>Novo Massacre da Serra Elétrica surpreende</h2>
                    </div>
                  </div>
                </a>
              </div>
              <div class="featured_links links">
                <ul class="links__list links__list--column links__list--dotted">
                  <li class="links__list__item">
                    <a href="#">Como são cenas pós-creditos de Uncharted</a>
                  </li>
                  <li class="links__list__item">
                    <a href="#">Prévia do visual de Jane Foster em Thor</a>
                  </li>
                </ul>
              </div>
            </article>
            <article class="col featured featured--">
              <div class="featured__head">
                <a href="#">
                  <div class="picture picture--top">
                    <img src="/images/articles/patrick_stweart_x_men.jpg" alt>
                  </div>
                  <div class="mark">
                    <div class="mark__label">
                      <div class="tag tag--filmes">
                        <p>Filmes</p>
                        <div class="tag__label"></div>
                      </div>
                    </div>
                    <div class="mark__title">
                      <h2>Patrick S. responde rumor de Doutor Estranho</h2>
                    </div>
                  </div>
                </a>
              </div>
              <div class="featured__links links">
                <ul class="links__list links__list--column links__list--dotted">
                  <li class="links__list__item">
                    <a href="#">Perfil parece confirmar Capitã em filme</a>
                  </li>
                  <li class="links__list__item">
                    <a href="#">Garfield e a volta ao Homem-Aranha</a>
                  </li>
                </ul>
              </div>
            </article>
          </div>
          <div class="col-24 col-lg-6 order-3 tertiary">
            <article class="col featured featured--main">
              <div class="featured__head">
                <a href="#">
                  <div class="picture picture--top">
                    <img src="/images/articles/pacificador.jpeg" alt>
                  </div>
                  <div class="mark">
                    <div class="mark__label">
                      <div class="tag tag--series-tv">
                        <p>DC</p>
                        <div class="tag__label"></div>
                      </div>
                    </div>
                    <div class="mark__title">
                      <h2>Pacificador é melhor trabalho de James Gunn</h2>
                    </div>
                  </div>
                </a>
              </div>
              <div class="featured__links links">
                <ul class="links__list links__list--column links__list--dotted">
                  <li class="links__list__item">
                    <a href="#">
                      Como o fim da série impacta o DCEU
                    </a>
                  </li>
                </ul>
              </div>
            </article>
          </article>
          <article class="col featured featured--list">
            <div class="featured__head">
              <a href="#">
                <div class="mark">
                  <div class="mark__label">
                    <div class="tag tag--series-tv">
                      <p>Stranger Things</p>
                      <div class="tag__label"></div>
                      <div class="tag__time"></div>
                    </div>
                  </div>
                  <div class="mark__title">
                    <h2>Netflix anuncia retorno de Stranger Things!</h2>
                  </div>
                </div>
              </a>
            </div>
            <div class="featured_links links">
              <ul class="links__list links__list--column links__list--dotted">
                <li class="links__list__item">
                  <a href="#">Confira os cartazes da 4ª temporada</a>
                </li>
                <li class="links__list__item">
                  <a href="#">Quiz: quem é você em Stranger Things?</a>
                </li>
                <li class="links__list__item">
                  <a href="#">Tudo que sabemos sobre o 4º ano</a>
                </li>
              </ul>
            </div>
          </article>
          <article class="col featured featured--list">
            <div class="featured__head">
              <a href="#">
                <div class="mark">
                  <div class="mark__label">
                    <div class="tag tag--filmes">
                      <p>Filmes</p>
                      <div class="tag__label"></div>
                      <div class="tag__time"></div>
                    </div>
                  </div>
                  <div class="mark__title">
                    <h2>Crítica: Uncharted chega capenga ao cinema</h2>
                  </div>
                </div>
              </a>
            </div>
          </article>
          </div>
        </div>
  </section>  
</section>

<script type="module">
  import { doLoad, addCss } from "./js/importers.js";
  
  addCss([
      "reviews"
  ]);

  doLoad("#features .container", ["/components/reviews.html"]);
</script>