<div class="container">
    <div class="row header__wrapper">
        <div class="col-16 col-md-20 col-lg-18 col-xl-20">
            <div class="header__wrapper__nav">
                <div class="logo">
                    <a href="/">
                        <h1>
                            <img class="logo__img" src="images/omelete_logo.svg" alt="Omelete">
                        </h1>
                    </a>
                </div>
                <div class="links links--category links--mobile">
                    <ul class="links__list links__list--underline">
                        <li class="links__list__item d-block d-md-none">
                            <a href="/">HOME</a>
                        </li>
                        <li class="links__list__item">
                            <a href="#">OSCAR</a>
                        </li>
                        <li class="links__list__item">
                            <a href="#">SÉRIES</a>
                        </li>
                        <li class="links__list__item">
                            <a href="#">HQs</a>
                        </li>
                        <li class="links__list__item">
                            <a href="#">MÚSICA</a>
                        </li>
                        <li class="links__list__item">
                            <a href="#">CCXP</a>
                        </li>
                        <li class="links__list__item">
                            <a href="#">BRUTTAL</a>
                        </li>
                        <li class="links__list__item">
                            <a href="#">ANIMES</a>
                        </li>
                        <li class="links__list__item">
                            <a href="#">THE ENEMY</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4 col-md-4 col-lg-6 col-xl-4">
            <div class="header__wrapper_search">
                <div class="search search--open">
                    <i class="bi bi-search icon icon-search"></i>
                </div>
                <div class="separator d-none d-md-block"></div>
                <div class="social d-none d-md-block">
                    <div class="links links--social">
                        <ul class="links__list links__list--icon">
                            <li class="links__list__item">
                                <a class="icon-facebook" href="#">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li class="links__list__item">
                                <a class="icon-instagram" href="#">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </li>
                            <li class="links__list__item">
                                <a class="icon-twitter" href="#">
                                    <i class="bi bi-twitter"></i>
                                </a>
                            </li>
                            <li class="links__list__item">
                                <a class="icon-youtube" href="#">
                                    <i class="bi bi-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>