<section id="reviews" class="section section--latest-reviews tabs_section tabs_section--reviews">
    <div class="container">
        <div class="row">
            <div class="col col-md-24 latest-reviews">
                <div class="latest-reviews__head">
                    <div class="title">Últimas críticas</div>
                    <a href="#" class="link">ver todas</a>
                </div>
                <div class="latest-reviews__content swiper-container">
                    <div class="list slider-reviews">
                        <a href="#" class="list__review list__review--highlight swiper-slide">
                           <div class="picture">
                               <img src="/images/reviews/love_6ovaxGX.jpg" alt="Love Sux, de Avril Lavigne, sabe que você não quer (e não precisa) crescer">
                               <div class="category color--musica"></div>
                           </div>
                           <div class="caption">Love Sux</div>
                        </a>

                        <a href="#" class="list__review list__review--highlight swiper-slide">
                            <div class="picture">
                                <img src="/images/reviews/space-force-poster_0qu1BOT.jpg" alt="Mais engraçada, segunda chance de Space Force mais parece uma despedida">
                                <div class="category color--series-tv"></div>
                            </div>
                            <div class="caption">Space Force</div>
                         </a>

                         <a href="#" class="list__review list__review--highlight swiper-slide">
                            <div class="picture">
                                <img src="/images/reviews/bergmanposter.jpg" alt="A Ilha de Bergman trata de dinâmica de gênero com leveza">
                                <div class="category color--filmes"></div>
                            </div>
                            <div class="caption">A Ilha de Bergman</div>
                         </a>

                         <a href="#" class="list__review list__review--highlight swiper-slide">
                            <div class="picture">
                                <img src="/images/reviews/cuphead_c2UfJig.jpg" alt="Cuphead - A Série é viagem nostálgica bonita, mas que não leva a lugar algum">
                                <div class="category color--series-tv"></div>
                            </div>
                            <div class="caption">Cuphead - A Série</div>
                         </a>

                         <a href="#" class="list__review list__review--highlight swiper-slide">
                            <div class="picture">
                                <img src="/images/reviews/2022-2648-o-caso-celso-daniel-poster-episodios-semanais.jpg" alt="Documentário O Caso Celso Daniel é bagunçado e tendencioso">
                                <div class="category color--series-tv"></div>
                            </div>
                            <div class="caption">O Caso Celso Daniel</div>
                         </a>

                         <a href="#" class="list__review list__review--highlight swiper-slide">
                            <div class="picture">
                                <img src="/images/reviews/toy-boy.jpg" alt="Toy Boy mantém o ritmo e deve agradar os fãs em sua segunda temporada">
                                <div class="category color--series-tv"></div>
                            </div>
                            <div class="caption">Toy Boy</div>
                         </a>

                         <a href="#" class="list__review list__review--highlight swiper-slide">
                            <div class="picture">
                                <img src="/images/reviews/massacre_da_serra_eletrica_retorno_de_leatherface_.png" alt="O Massacre da Serra Elétrica da Netflix surpreende pela falta de pretensão">
                                <div class="category color--filmes"></div>
                            </div>
                            <div class="caption">O Massacre da Serra Elétrica: O Retorno de Leatherface</div>
                         </a>
                    </div>
                    <div class="list list-more">
                        <a href="#" class="list__review list__review--highlight">
                            <div class="picture">
                                <i class="icon">+</i>
                                <p class="caption">Ver todas as criticas</p>   
                            </div> 
                         </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>