<section id="reviews" class="section section--latest-reviews tab_section tab_section--reviews">
    <div class="container">
        <div class="row">
            <div class="col col-md-24 latest-reviews">
                <div class="latest-reviews__head">
                    <div class="title">últimas críticas</div>
                    <a href="#" class="link">ver todas</a>
                </div>
                <div class="latest-reviews__content swiper-container">
                    <div class="list slider-reviews">      
                        <a href="/series-tv/criticas/de-volta-aos-15-1-temporada" class="list__review list__review--highlight swiper-slide">
                            <div class="picture">
                                <img src="//cdn.ome.lt/DJ6owpJ-CXJbnd3ed4HECWKQkfY=/308x500/smart/extras/capas/poster-oficial-de-volta-aos-15-principal-netflix.jpg" alt="De Volta aos 15 promove nostalgia reconfortante para tempos difíceis" style="width:auto;" class="swiper-lazy">                                
                                <div class="category color--series-tv"></div>
                            </div>  
                            <div class="caption">De Volta aos 15</div>
                        </a>

                        <a href="/series-tv/criticas/vikings-valhalla-netflix" class="list__review list__review--highlight swiper-slide">
                            <div class="picture">
                                <img src="//cdn.ome.lt/TZgCFZ6lGb1j1yHM4TmnxPtMhr8=/308x500/smart/extras/capas/vikings_valhalla_2_.png" alt="Vikings: Valhalla esvazia grandeza da série original em derivado artificial" style="width:auto;" class="swiper-lazy">
                                <div class="category color--series-tv"></div>
                            </div>            
                            <div class="caption">Vikings: Valhalla</div> 
                        </a>

                        <a href="/musica/criticas/avril-lavigne-love-sux" class="list__review list__review--highlight swiper-slide">
                            <div class="picture">
                                <img src="//cdn.ome.lt/cLT5XFw3GllzXEtdepSzyeHLpc0=/308x500/smart/extras/capas/love_6ovaxGX.jpg" alt="Love Sux, de Avril Lavigne, sabe que você não quer (e não precisa) crescer" style="width:auto;" class="swiper-lazy">
                                <div class="category color--musica"></div>
                            </div> 
                            <div class="caption">Love Sux</div>
                        </a>

                        <a href="/series-tv/criticas/space-force-2a-temporada" class="list__review list__review--highlight swiper-slide">
                            <div class="picture">
                            <img src="//cdn.ome.lt/TAMriCRSzrbkn7NGQeGCvSk8azo=/308x500/smart/extras/capas/space-force-poster_0qu1BOT.jpg" alt="Mais engraçada, segunda chance de Space Force mais parece uma despedida" style="width:auto;" class="swiper-lazy">
                            <div class="category color--series-tv"></div>
                            </div>  
                            <div class="caption">Space Force</div>
                        </a>
    
                        <a href="/filmes/criticas/ilha-bergman-filme-critica" class="list__review list__review--highlight swiper-slide">
                            <div class="picture">
                                <img src="//cdn.ome.lt/5gqfroWsWZ2I1_US8hUApzfpAGw=/308x500/smart/extras/capas/bergmanposter.jpg" alt="A Ilha de Bergman trata de dinâmica de gênero com leveza" style="width:auto;" class="swiper-lazy">
                                <div class="category color--filmes"></div>
                            </div>
                            <div class="caption">A Ilha de Bergman</div>
                        </a>

                        <a href="/series-tv/criticas/cuphead-a-serie-temporada-1" class="list__review list__review--highlight swiper-slide">
                            <div class="picture">
                                <img src="//cdn.ome.lt/S3f449Ar4XCVX04Z_uuVtwhcxlc=/308x500/smart/extras/capas/cuphead_c2UfJig.jpg" alt="Cuphead - A Série é viagem nostálgica bonita, mas que não leva a lugar algum" style="width:auto;" class="swiper-lazy">
                                <div class="category color--series-tv"></div>
                            </div>                
                            <div class="caption">Cuphead - A Série</div>
                        </a>
    
                        <a href="/series-tv/criticas/documentario-o-caso-celso-daniel-e-baguncado-e-tendencioso" class="list__review list__review--highlight swiper-slide">
                            <div class="picture">
                                <img src="//cdn.ome.lt/9alEDx4O2-NLWOkNrC09HBVxNbE=/308x500/smart/extras/capas/2022-2648-o-caso-celso-daniel-poster-episodios-semanais.jpg" alt="Documentário O Caso Celso Daniel é bagunçado e tendencioso" style="width:auto;" class="swiper-lazy">
                                <div class="category color--series-tv"></div>
                            </div>
                            <div class="caption">O Caso Celso Daniel</div>
                        </a>
    
                        <a href="/series-tv/criticas/toy-boy-mantem-o-ritmo-e-deve-agradar-os-fas-em-sua-segunda-temporada" class="list__review list__review--highlight swiper-slide">
                            <div class="picture">
                                <img src="//cdn.ome.lt/BZnK0WlPPpGJYt9BDzXQ3LrsEqQ=/308x500/smart/extras/capas/toy-boy.jpg" alt="Toy Boy mantém o ritmo e deve agradar os fãs em sua segunda temporada" style="width:auto;" class="swiper-lazy">
                                <div class="category color--series-tv"></div>
                            </div>
                            <div class="caption">Toy Boy</div>
                        </a>
                    </div>

                    <div class="list list-more">
                        <a href="#" class="list__review list__review--highlight">
                            <div class="picture">
                                <i class="icon">+</i>
                                <p class="caption">Ver todas as criticas</p>
                            </div>        
                        </a>
                    </div>
                    <a href="#" class="btn">Todas as criticas</a>
                </div>
            </div>
        </div>
    </div>
</section>