<section class="web-stories">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="web-stories__list">
                    <li class="storie storie--click">
                        <div class="storie__image">
                            <img src="/images/stories/galadriel_2.jpg">
                        </div>
                        <p>Os maiores trailers do Super Bowl 2022</p>
                    </li>
                    <li class="storie storie--click">
                        <div class="storie__image">
                            <img src="/images/stories/tanjiro_ef6a.jpg">
                        </div>
                        <p>Os esnobados do Anime Awards Brasil 2022</p>
                    </li>
                    <li class="storie storie--click">
                        <div class="storie__image">
                            <img src="/images/stories/julia_garner_como_anna_delvey_em_inventing_anna.jpg">
                        </div>
                        <p>Dicas do Omelete para o fim de semana</p>
                    </li>
                    <li class="storie storie--click">
                        <div class="storie__image">
                            <img src="/images/stories/kennath-branagh-poirot-90.jpg">
                        </div>
                        <p>9 filmes para brincar de detetive</p>
                    </li>
                    <li class="storie storie--click">
                        <div class="storie__image">
                            <img src="/images/stories/morte_no_nilo_2b.jpg">
                        </div>
                        <p>Estreias da semana: Morte no Nilo e mais</p>
                    </li>
                    <li class="storie storie--click">
                        <div class="storie__image">
                            <img src="/images/stories/JUJUTSU.jpg">
                        </div>
                        <p>Anime Awards: melhores animes de 2021</p>
                    </li>
                    <li class="storie storie--click">
                        <div class="storie__image">
                            <img src="/images/stories/ataque_dos_caes_stories_1.jpg">
                        </div>
                        <p>Os filmes mais indicados ao Oscar 2022</p>
                    </li>
                    <li class="storie storie--click">
                        <div class="storie__image">
                            <img src="/images/stories/MARK_RALSTON_oscar_AFP_dq.jpg">
                        </div>
                        <p>Oscar 2022: onde assistir aos filmes indicados</p>
                    </li>
                    <li class="storie storie--more">
                        <a href="#">
                            <div class="storie__image">
                                <i>+</i>
                            </div>
                            <p>Mais <br>stories</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>